---
import { Image } from 'astro:assets';
import logoTriaxis from '~/assets/images/Triaxis_22-04.png';
---

<a href="/" class="flex items-center">
  <Image
    src={logoTriaxis}
    alt="Triaxis Desenvolvimento, Consultoria e Assessoria"
    height={55}
    width={220}
    class="h-14 w-auto object-contain"
  />
</a>
