---
import { Image } from 'astro:assets';
import iconeTriaxis from '~/assets/images/4.png';
---

<a href="/" class="flex items-center gap-3 mr-8">
  <Image
    src={iconeTriaxis}
    alt="Triaxis"
    height={40}
    width={40}
    class="h-10 w-10 object-contain"
  />
  <span class="font-bold text-xl" style="color: #1F3647; font-family: 'Poppins', sans-serif;">
    Triaxis
  </span>
</a>
