---
import { Image } from 'astro:assets';
import logoTriaxis from '~/assets/images/Triaxis_22-04.png';
---

<a href="/" class="flex items-center mr-8">
  <Image
    src={logoTriaxis}
    alt="Triaxis Desenvolvimento, Consultoria e Assessoria"
    height={45}
    width={180}
    class="h-11 w-auto object-contain"
  />
</a>
