---
import { Image } from 'astro:assets';
import logoTriaxis from '~/assets/images/Triaxis_22-04.png';
---

<a href="/" class="flex items-center">
  <Image
    src={logoTriaxis}
    alt="Triaxis Desenvolvimento, Consultoria e Assessoria"
    height={50}
    class="h-10 w-auto"
  />
</a>
